pandas==2.2.0
numpy==1.26.4
scikit-learn==1.4.0
xgboost==2.0.3
mlflow==2.10.0
adversarial-robustness-toolbox==1.20.1
fastapi==0.109.0
uvicorn==0.27.0
python-jose==3.3.0
passlib==1.7.4
bcrypt==4.0.1
python-multipart==0.0.9
slowapi==0.1.9
requests==2.31.0
python-dotenv==1.0.0
prometheus-client==0.19.0
secure-smtplib==0.1.1
